.login {
  position: relative;
}

.login__upper {
  background-color: #0089ed;
  color: #ffffff;
}

.header {
  padding-top: 2em;
  margin-left: 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.login__main {
  margin-top: 5em;
  margin-left: 5em;
  max-width: 750px;
  display: flex;
}

.login__para {
  max-width: 480px;
  font-weight: 200;
}

.login__main__left > header > h1 {
  font-size: 2rem;
  font-weight: 600;
}

.login__image {
  width: 85%;
  margin-top: -7rem;
}
.login__image > img {
  width: 100%;
}

/** lower half */

.login__lower__content {
  margin-left: 5em;
}
.login__lower__content > h2 {
  font-weight: 400;
}
.login__lower__img__container {
  display: flex;
  cursor: pointer;
}

.login__lower__image {
  background-color: #eff8ff;
  border-radius: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 4rem;
  margin-right: 2.4em;
}

.login__lower__image > h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.login__lower__image > p {
  margin-top: 0;
  color: #adadad;
}

.login__lower__image > img {
  width: 50%;
}
.login__lower__image > span {
  position: absolute;
  top: 12px;
  right: 7px;
}
.login__lower__image > span > img {
  width: 75%;
}

/* *login form */

.login__form {
  position: absolute;
  width: 34%;
  height: 90%;
  right: 77px;
  top: 79px;
  background: #ffffff;
  box-shadow: 0px 4px 35px rgb(0 0 0 / 8%);
  border-radius: 40px;
}

.form__h2 {
  font-weight: 400;
  margin-left: 2em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.form__h2 > span {
  font-weight: 600;
  color: #0089ed;
}

.form__h1 {
  font-weight: 500;
  font-size: 3.6rem;
  margin-left: 0.8em;
  margin-top: 0;
}

.login__options {
  display: flex;
}

.login__options__container {
  display: flex;
  width: 55%;
  height: 3.4rem;
  background: #e9f1ff;
  border-radius: 9px;
  color: #0089ed;
  margin-left: 3rem;
  align-items: center;
}

.google {
  display: flex;
  align-items: flex-end;
  margin-left: 2rem;
  justify-content: space-between;
}
.google > img {
  width: 17%;
  object-fit: contain;
}
.google > span {
  margin-bottom: 0.3rem;
}

.fb {
  width: 10%;
  height: 3.4rem;
  background: #f7f7f7;
  border-radius: 9px;
  margin-left: 1.5rem;
}
.fb > img {
  width: 74%;
  margin: 0.5rem;
}

.apple {
  width: 10%;
  height: 3.4rem;
  background: #f7f7f7;
  border-radius: 9px;
  margin-left: 1rem;
}

.apple > img {
  width: 74%;
  margin: 0.5rem;
}

/** forms */

.form {
  margin-top: 4.2em;
}
label {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 3.2em;
  margin-top: 1em;
}

input {
  width: 80%;
  background: #ffffff;
  border: 1px solid #4285f4;
  box-sizing: border-box;
  border-radius: 9px;
  height: 3rem;
  margin-left: 3rem;
  margin-top: 1em;
  color: #808080;
  margin-bottom: 3em;
  padding-left: 1em;
}

button {
  width: 80%;
  height: 3rem;
  background: #0089ed;
  box-shadow: 0px 4px 19px rgb(119 147 65 / 30%);
  border-radius: 10px;
  color: #ffffff;
  margin-left: 3.4em;
  margin-top: 3em;
  margin-bottom: 4em;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.span {
  margin: 1em 0;
  margin-left: 20rem;
  color: #0089ed;
  font-size: 0.8rem;
}
